@using Hotel_Management.Models
@model IEnumerable<HotelService>
@{
    ViewData["Title"] = "Index";
}
<br />
<header>
    <div class=" form-actions row px-md-2 ">
        <div class="col-6">
            <h1 class="text-dark">Hotel Service</h1>
        </div>
    </div>
</header>
<br />
<form asp-area="Admin" asp-controller="HotelService" asp-action="Create" method="post" enctype="multipart/form-data" class="form" id="from">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="from-title"> Add New Service</h5>
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="id" name="Id" value="0" />
                    <div class="form-group form-actions">
                        <label class="px-2" for="exampleFormControlInput1">Service Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="ServiceName" class="form-control " name="ServiceName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="px-2" for="exampleFormControlInput1">Per/UnitPrice</label>
                        <div class="col-sm-10">
                            <input type="number" id="PerUnitPrice" class="form-control " name="PerUnitPrice">
                        </div>
                    </div>
                    <div class="form-actions left px-md-3 center">
                        <input type="submit" class="btn btn-primary" value="Save" id="from-submit-btn" />
                        <a asp-action="Index" class="btn btn-warning mr-1">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="card">                             
                <div class="card-body">
                    <h5 class="card-title">Hotel Service</h5>                   
                    <div class="card-content collapse show form-actions ">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered datatable-select-inputs" id="myTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model =>model.SLId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model =>model.ServiceName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model =>model.PerUnitPrice)
                                            </th>
                                            <th>
                                             Action
                                            </th>
                                        </tr>                                                                             
                                    </thead>
                                    <tbody>
                                        @if(Model != null){
                                            var serialNo = 1;
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@(serialNo++)</td>
                                                    <td>@item.ServiceName</td>
                                                    <td>@item.PerUnitPrice</td>
                                                    <td style="width:150px">
                                                        <div class="btn-group">
                                                            <button class="btn btn-primary" type="button" onclick="Edit(@item.Id)">Edit</button>
                                                            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }                                        
                                    </tbody>                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    
    function Edit(id) {
        var url = "@Url.Action("Details", new { id = "-1" })";
        url = url.replace("-1", id);
        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            success: function (response) {
                if(response != null){
                    $("#from-title").html('Update Serivce');
                    $("#from-submit-btn").val('Update');
                    $('#from').attr('action', '@Url.Action("Edit")');
                    $("#id").val(response['id']);
                    $("#ServiceName").val(response['serviceName']);
                    $("#PerUnitPrice").val(response['perUnitPrice']);
                }
            },
            error: function (response) {
                console.log(response);
            }
        });
    }
</script>

